<head class='login-grid'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diolty</title>
</head>
<body>
<nav class="navbar navbar-default" id="index-navbar">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
              <p>D I O L T Y</p>
          </a>
      </div>
  </div>
</nav>
<div class="login-grid">

  <div></div>
  <form class="login-form box-shadow">
    <div class="form-group">
      <label for="exampleInputEmail1">User Name</label>
      <input name="username" type="text" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="User Name">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1"
        placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login(user)">Login</button>
  </form>
  <div></div>
</div>