<head class='login-grid'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diolty</title>
</head>
<body>
<nav class="navbar navbar-default" id="index-navbar">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
              <p>D I O L T Y</p>
          </a>
      </div>
  </div>
</nav>
<div class="login-grid">
  <div class="form">
      <form class="registerForm">
          <input type="text" placeholder="username" />
          <input type="text" placeholder="password" />
          <button>Create</button>
          <p class="message">Already Registered? <a href="#">Login</a></p>
      </form>
      <form class=" loginForm">
        <input type="text" placeholder="username" />
        <input type="text" placeholder="password" />
        <button (click)="login(user)">Login</button>
        <p class="message">Not Registered?<a href="#">Register</a></p>
</form>

  </div>
</div>
</body>